@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.taskContainer{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.task{
    width: 350px;
    height: 300px;
    transition: 0.4s;
    padding: 0 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    margin: 15px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.task:hover{
    transition: 0.4s;
    border: 2px solid red;
    margin-top: -5px;
}
.task__text{
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}
.task__row{
    width: 100%;
    margin-top: 20px;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task__btn{
    width: 150px;
    height: 40px;
    margin: 0 10px ;
    background-color: inherit;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.4s;
    cursor: pointer;
}
.task__btn:hover{
    border-radius: 5px;
    transition: 0.4s;
    color: red;
    border: 1px solid red;
}
.center{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}