.addTask{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addTask__inp{
    height: 40px;
    width: 300px;
    background-color: inherit;
    padding-left: 20px;
    border: 2px solid #fff;
    margin-right: 10px;
    transition: 0.5s;
    border-radius: 10px;
    color: red;
}
.addTask__inp:focus{
    outline: none !important;
    border:2px solid red;
}
.addTask__inp:hover{
    border: 2px solid red;
}
.addTask__inp::placeholder{
   color: #fff;
   transition: 0.5s;

}
.addTask__inp:hover::placeholder{
    color: red;
    transition: 0.5s;
 }
.addTask__btn{
    width: 100px;
    height: 40px;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.5s;
    cursor: pointer;
    background-color: inherit;
}
.addTask__btn:hover{
    border-radius: 10px;
    background-color: inherit;
    color: red;
    border: 1px solid red;
    transition: 0.5s;

}